@import '~antd/dist/antd.css';

.width-100 {
  width: 100%;
}
.header {
  background-color: #555;
  display: flex;
  justify-content: space-between;
}

.header .title {
  color: #FFF;
  font-size: 24px;
}

.header .user-login, .header .user-login a {
  color: #FFF;
  font-size: 16px;
}

.movie-container {
  margin: 15px;
}

.movie-meta {
  margin: 2px;
}

.movie-layout {
  min-height: 100vh;
}

.movie-card-body .ant-card-body {
  height: 166px;
  overflow: auto;
}

.movie-list-actions {
  margin: 10px 0;
}

.search-action {
  margin: 10px 0;
}

.genre-tag {
  border: 1px solid #333;
  margin: 2px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #EEE;
}

.login-container .login-card {
  width: 400px;
  margin: 20px;
  padding: 15px 0;
}

.login-container .login-card .login-form {
  margin: 15px;
}

.login-container .login-card .title {
  text-align: center;
  margin-bottom: 25px;
}

.login-container .login-card .submit-button {
  margin: 35px 0;
}